.body{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.bodyWhite{
    display: flex;
    flex-direction: column;
    color: black;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.allMovies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.title{
    display: flex;
    margin-left: 35px;
    color: white;
}
.whiteTitle{
    color: black;
    display: flex;
    margin-left: 35px;
}
.h3{
    margin: 20px 0 0 0;
}

.imgStar{
    margin: 0;
}
.profilePersonImg{
    border-radius: 50%;
}
.mainBlockPeople{
    display: flex;
    justify-content: center;
}
.blockWithPeopleAndTitle{

    display: flex;
    justify-content: center;
    flex-direction: column;
}
.blockWithPeople{
    width: 77vw;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 20px;
}
.personName{
    display: flex;
    justify-content: center;
}
.onePersonBlock{
    margin: 10px;
}
