.mainDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}
.mainDivWhite{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
    color :black;
}
.oneCard{
    width: 17vw;
    display: flex;
    flex-direction: column;
    height: 30vw;
    color: white;
    margin: 10px;
}
/*.oneCardWhiteTheme{*/
/*    width: 17vw;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    height: 30vw;*/
/*    color: black;*/
/*    margin: 10px;*/
/*}*/
.img{
    width: 200px;
}
.titleDiv{
    display: flex;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: red;
}
.stylePagination{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}
.whiteStylePagination{
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
}