.active{
    color: red;
    text-decoration: none;
    list-style: none;
}
.styleBtnMode{
    display: flex;
    align-items: center;
}
.headerStyle{
    display: flex;
    background-color: black;
    height: 12vh;
    margin-bottom: 30px;
    flex-direction: column;
}
.liWithIconUser{
    display: flex;
}
.styleImgUser{
    margin: 20px 10px 10px 5vw;
}
.ulStyle{
    display: flex;
    margin-left: 30vw ;
}
.liStyle{
    margin:10px;
    color: white;
    text-decoration: none;
    list-style: none;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.liStyle:hover{
    color: red;
}
.inputStyle{
    height: 4vh;
    background-color: black;
    border: none;
    color: white;
}

.inputBox{
    display: flex;
}
.searchIcon{
    width: 10px;
    height: 10px;
}
