.whiteTheme{
    background-color: white;
}
.liWhiteTheme{
    margin:10px;
    color: black;
    text-decoration: none;
    list-style: none;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.blackLine{
    background-color: black;
}
.whiteLine{
    background-color: white;
}
.active{
    color: red;
    text-decoration: none;
    list-style: none;
}
.styleBtnMode{
    display: flex;
    align-items: center;
}
.headerStyle{
    display: flex;
    background-color: black;
    height: 12vh;
    margin-bottom: 30px;
    flex-direction: column;
}
.liWithIconUser{
    display: flex;
    background-color: black;
}
.liWithUserWhite{
    display: flex;
    background-color: white;
}
.styleImgUser{
    margin: 20px 10px 10px 5vw;
}
.ulStyle{
    display: flex;
    margin-left: 30vw ;
}
.liStyle{
    margin:10px;
    color: white;
    text-decoration: none;
    list-style: none;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.liStyle:hover{
    color: red;
}
.inputStyle{
    height: 3.5vh;
    background-color: black;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
}
.inputWhite{
    height: 3.5vh;
    background-color: white;
    color: white;
    border: 2px solid black;
    border-radius: 4px;
}

.inputBox{
    display: flex;
}
.searchIcon{
    width: 10px;
    height: 10px;
}
