.whiteTheme{
    background-color: whitesmoke;
}
.liWhiteTheme{
    margin:10px;
    color: black;
    text-decoration: none;
    list-style: none;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.blackLine{
    background-color: black;
}
.whiteLine{
    background-color: whitesmoke;
    margin: 0;
}
.active{
    color: red;
    text-decoration: none;
    list-style: none;
}
.styleBtnMode{
    display: flex;
    align-items: center;
}
.headerStyle{
    display: flex;
    background-color: black;
    height: 11vh;
    margin-bottom: 30px;
    flex-direction: column;
}
.liWithIconUser{
    display: flex;
    background-color: black;
}
.liWithUserWhite{
    display: flex;
    background-color: whitesmoke;
}
.styleImgUser{
    margin: 20px 10px 10px 5vw;
}
.ulStyle{
    display: flex;
    margin-left: 30vw ;
}
.liStyle{
    margin:10px;
    color: white;
    text-decoration: none;
    list-style: none;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.liStyle:hover{
    color: red;
}
.inputStyle{
    height: 3.5vh;
    background-color: black;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
}
.inputWhite{
    height: 3.5vh;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
}

.inputBox{
    display: flex;
}
.searchIcon{
    width: 10px;
    height: 10px;
}

.styleBtnTheme{
    background-color: black;
    border: none;
}
.styleBtnThemeWhite{
    background-color: whitesmoke;
    border: none;
}

.blockIcons{
    display: flex;
    justify-content: center;
    height: 5vw;
    width: 10vw;
    align-items: center;
    margin: 3vh 0 10px 13vw;
}
.userIcon{
    margin:0 0.5vw 0 1vw
}