.body{
  background-color: black;
  color: #f1eaea;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.whiteBody{
  background-color: white;
  margin: 0;
  color: black;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.mainBody{
  margin: 0;
}
.whiteTheme{
  background-color: white;
  margin: 0;
  color: black;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.boxMoviesByGenre{
  display: flex;
}
.ContainerInfoMovie{
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #f1eaea;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.ContainerInfoMovieWhite{
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.movieAllDescWithPoster{
  display: flex;
}
.movieDesc{
  display: flex;
}
.posterStyle{
  margin-left: 5vw;
}
.img{
  width: 30vw;
  height: 90vh;
  border-radius: 7px;
}
.titleMovie{
  margin: 30px 0 0 2vw;
  display: flex;
}
.nameMovie{
  color: red;
  margin-left: 10px;
}
.blockDescOne{
  width: 15vw;
  margin-top: 5vh;
  margin-left: 2vw;

}
.blockDescTwo{
  width: 40vw;
  margin-top: 5vh;
}
.genreStyleBlock{
  display: flex;
  justify-content: flex-start;
}
.oneGenre{
  margin-right: 15px;
}
.linkGenre{
  text-decoration: none;
  color: white;
}
.linkGenreWhite{
  text-decoration: none;
  color: black;
}
.linkGenreWhite:hover{
  color: red;
}
.linkGenre:hover{
  color: red
}
.iconTimeBlock{
  display: flex;
  justify-content: flex-start;
}
.imgIcon{
  height: 4.5vh;
}
.similarMoviesBlock{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}