.body{
    display: flex;
    flex-direction: column;
    width: 48vw;
    border: 2px solid #524f4f;
    background-color: black;
}
.whiteBody{
    display: flex;
    flex-direction: column;
    width: 48vw;
    border: 1px solid #524f4f;
    background-color: white;
}

.oneGenre{
    margin: 5px;
}
.activeGenre{
    margin: 5px;
    color: red;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.styleLinkGenre{
    color: white;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.whiteThemeLink{
    color: black;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.whiteThemeLink:hover{
    color: red;
}
.styleLinkGenre:hover{
     color: red;
 }